mixin choice-others__item(title, amount)
	li
		a(href='javascript:void(0);')
			span.choice-others__title=title
			span.choice-others__amount=amount


mixin img(src, width, height, title)
	//- attributes == {class: "btn"}
	img(src=src width=width height=height title=title)

mixin link-with-img(href, className, src, width, height, title)
	a(href=href class=className)
		img(src=src width=width height=height title=title)

mixin link(href, className, name)
	a(class=className href=href)= name

mixin link-with-span(href, className, name)
	a(class=className href=href)
		span= name

mixin btn-link(href, className, count)
	.btn
		a(href=href class=className data-count=count)

mixin list-item(name, href)
	li
		a(href=href)= name

mixin list-item-img(name, src, width, height, title)
	li
		img(src=src width=width height=height title=title)
		span=name

mixin list-item__sub(name, href, className)
	li
		a(href=href class='menu-main__sub-link')
			span=name
		div(class='menu-main__sub' class=className)
			ul.menu-main__sub-list
				block

mixin input(idName, value, type, name, required, placeholder)
	.label-content
		label(for=idName)
			input(id=idName value=value type=type name=name required=required placeholder=placeholder)

mixin fieldset-group(className)
	fieldset(class=className)
		.fieldset-group-wrapper
			block

mixin input__checkbox(idName, name, value, Title)
	.checkbox-wrapper
		input(type="checkbox" id=idName name=name value=value)
		label(for=idName)
			span=Title

mixin input__checkbox-color(idName, name, value, Title, color)
	.checkbox-wrapper
		input(type="checkbox" id=idName name=name value=value)
		label(for=idName)
			span=Title
		span.color(class='color-' + color)

mixin input__radio(idName, name, value, Title, checked)
	.radio-wrapper
		input(type="radio" id=idName name=name value=value checked=checked)
		label(for=idName)
			span=Title

mixin toggle(idName, Title, checked)
	.toggle-btn
		input(type="checkbox"  id=idName checked=checked)
		label(for=idName)
			span=Title

mixin dropdown-option (Title, idName, value)
	li
		.dropdown__option
			.title=Title
			.counter
				span.noselect.counter__btn.minus -
				.noselect.counter-quantity
					input(type="number" id=idName name="quantity" value=value)
					label(for=idName)
						span=value
				span.noselect.counter__btn.plus +

mixin img-with-text (className, src, width, height, title, Title, Desc)
	.img-with-text(class=className)
		.img-wrapper
			img(src=src width=width height=height title=title)
		.desc-wrapper
			.title=Title
			.desc=Desc

mixin textarea (desc)
	.textarea--wrapper
		.textarea-desc=desc
		textarea